select#fieldAgentForArea {
    height: 3em;
    font-weight: 400;
    text-decoration: none;
    /* font-family: "Roboto", Helvetica, sans-serif !important; */
    color: rgb(128, 128, 128);
    transition: border-color 0.2s ease-in-out;
    background: #eef;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    color: #000000;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 80%;
}

select#state{
    height: 3em;
    font-weight: 400;
    text-decoration: none;
    /* font-family: "Roboto", Helvetica, sans-serif !important; */
    color: rgb(128, 128, 128);
    transition: border-color 0.2s ease-in-out;
    background: #eef;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    color: #000000;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 80%;
}

select#city{
    height: 3em;
    font-weight: 400;
    text-decoration: none;
    /* font-family: "Roboto", Helvetica, sans-serif !important; */
    color: rgb(128, 128, 128);
    transition: border-color 0.2s ease-in-out;
    background: #eef;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    color: #000000;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 80%;
}

select#areaList{
    height: 3em;
    font-weight: 400;
    text-decoration: none;
    /* font-family: "Roboto", Helvetica, sans-serif !important; */
    color: rgb(128, 128, 128);
    transition: border-color 0.2s ease-in-out;
    background: #eef;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    color: #000000;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 80%;
}

button.btn.btn-primary.egp-button-width {
    background-color: #009688 !important;
    border: 1px solid #009688 !important;
}

.area {
    padding: 18px;
}
.card {
    box-shadow: 1px #000;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 6px 9px 8px rgba(0, 0, 0, 0.1);
}
h3.card-title {
    padding: 10px 20px;
}