select#pharmacyInDynamicInvoice {
    height: 3em;
    font-weight: 400;
    text-decoration: none;
    /* font-family: "Roboto", Helvetica, sans-serif !important; */
    color: rgb(128, 128, 128);
    font-size: 10pt;
    transition: border-color 0.2s ease-in-out;
    background: #eef;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    padding: 0px 1em;
    width: 437px;
}
.card {
    border-radius: 0px;
    border: none;
    box-shadow: 0px 6px 9px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
h2.card-title {
    padding: 10px 20px;
}

input#float-input {
    border: none;
    border-bottom: 1px solid;
}

.col-md-6.space {
    margin-top: 42px;
}

ul.drugname {
    width: 52%;
    background: aliceblue;
    width: 52%;
    list-style: none;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
  }
  input#drugNameDynamicInvoice {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: block;
    margin-top: 0;
    background: 0 0;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    width: 80%;
    box-sizing: border-box;
    float: left;
    border-style: solid;
    border-width: 0 0 1px;
    padding: 2px 2px 1px;
    font-weight: 400 !important;
    opacity: 0.6;
    font-size: 10pt;
}