<app-navbar></app-navbar>
<div style="margin-top: 40px; margin-left: 20px; font-weight: bold !important; font-style: italic !important" class="ng-binding">Transactions &gt;&gt; Create Sales Invoice</div>
<div class="col-sm-4">
  <select id="pharmacyInDynamicInvoice" name="pharmacyInInvoice" (change)="selectChangeHandler($event)">
    <option>--Select Pharmacy--</option>
    <option *ngFor="let names of apiservice.pharmaname" value={{names}}>
        {{names.pharmacyName}}
    </option>
  </select>
</div>
<div class="col-sm-4" style="margin-top: 6px;">
  <p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)" >
  </p-autoComplete>
  <ul class="drugname">
      <li *ngFor="let drug of apiservice.results;let i=index"><span class="badge badge-pill badge-primary" (click)="createInvoice(drug.tradeCompositeId)"  data-toggle="modal" data-target="#myModal" >{{drug.tradeCompositeId}}</span></li>
    </ul>
</div>

<div class="col-md-12">
  <div class="card">
      <div class="card-body">
        <h2 class="card-title">Pharmacy Orders</h2>
        <div class="dataTable_wrapper">
            <table class="table table-bordered">
              <thead>
                <tr class="egp-headerbold">
                    <th style="text-align: -webkit-right;">#</th>
                      <th>Drug Name</th>
                      <th>Qty to be Supplied</th>
                      <th>Free</th>
                      <th>Sale Rate</th>
                      <th>Batch</th>
                      <th>MRP</th>
                      <th>GST%</th>
                      <th>Tax On</th>
                      <th>Mfg/Mkt</th>
                      <th>Disc%</th>
                      <th>Scheme Value</th>
                      <th>Total</th>
                      <th></th>
                      <th></th>

                </tr>
              </thead>
              <tbody>
              <!-- ngIf: janitramListArr.length ==0 -->
                <!-- ngRepeat: janitramDataObj in janitramListData track by $index -->
                <th style="text-align: -webkit-right;" class="ng-binding">1</th>
                        <td  class="ng-binding"></td>
                        <td class="ng-binding"></td>
                        <td class="ng-binding"></td>
                        <td class="ng-binding"></td>
                        <td class="ng-binding"></td>
                        <td class="ng-binding"></td>
                        <td class="ng-binding"></td>
                        <td class="ng-binding"></td>
                        <td class="ng-binding"></td>
                        <td class="ng-binding"></td>
                        <td class="ng-binding"></td>
                        <td class="ng-binding"></td>
                        <td class="ng-binding"></td>
                        <td class="ng-binding"></td>


                        <!-- <td data-ng-if="purchaseOrderObj.poStatus=='A'" class="ng-scope">Approved</td>  -->
                        <!-- <td style="text-align: center;"><a data-ng-click="viewInvoice(invoiceDataObj)" id="2610"><abbr title="View Invoice" class="egp-border-bottom"><i class="fa fa-share egp-font24"></i></abbr></a></td> -->
                      
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Sales Invoice - Drug Selection</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <label style="color: black; font-size: 11; font-weight: 300 !important;">Drug
              Name</label><br> <label style="color: #716e6e;" class="ng-binding">TEST DRUG 1, Batch=TESTBTH, ExpDt=2018-10-31) </label>
              <!-- <label><br>HSN:{{hsnCode}}</label>
            <small style="color: #716e6e;" ng-if="{{manufacturerMnemonic}}">Mfg/Mkt: {{manufacturerMnemonic}}</small> -->
          </div>
          <div class="col-sm-6">
          <label style="color: black; font-size: 13; font-weight: 500 !important;">Batch Number</label>
            <div data-ng-show="batchReadonly === 'false'" aria-hidden="false" class="">
              <select id="batch" data-ng-model="batchnumber" data-ng-options="batch as batch for batch in stockListData" data-ng-change="getDrugeDetailAsPerBatch(batchnumber)" data-ng-init="batchnumber ===''" required="" class="ng-pristine ng-untouched ng-invalid ng-invalid-required" aria-invalid="true"><option value="" disabled="" selected="" class="">--Select Batch--</option><option value="0" label="TESTBTH">TESTBTH</option></select>
            </div>
            <div data-ng-show="batchReadonly === 'true'" aria-hidden="true" class="ng-hide">
              <label data-ng-model="batchnumber" class="ng-pristine ng-untouched ng-valid ng-binding" aria-invalid="false"></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label style="color: black; font-size: 13; font-weight: 500 !important;">Expiry</label><br>
            <!-- ngIf: showlabel === 'true' -->
          </div>
          <div class="col-sm-2">
            <label style="color: black; font-size: 13; font-weight: 500 !important;">MRP</label><br>
            <!-- ngIf: showlabel === 'true' -->
          </div>
          <div class="col-sm-2">
            <label style="color: black; font-size: 13; font-weight: 500 !important;">CGST%</label><br>
            <!-- ngIf: showlabel === 'true' -->
          </div>
          <div class="col-sm-2" ng-switch="" on="addlGstType">
            <!-- ngSwitchWhen: sgst -->
            <!-- ngSwitchWhen: igst -->
            <!-- ngSwitchDefault:  --><div ng-switch-default="" class="ng-scope">
            <label style="color: black; font-size: 13; font-weight: 500 !important;" class="ng-binding">Addl. GST</label></div><!-- end ngSwitchWhen: -->
            <!-- ngIf: showlabel === 'true' -->
              <input style="width: 90%; height: 40px;" data-ng-model="addlgsttype" id="addlgsttype" hidden="true" class="ng-pristine ng-untouched ng-valid" aria-invalid="false">
          </div>
          <div class="col-sm-2">
            <label style="color: black; font-size: 13; font-weight: 500 !important;">Qty Available</label><br> 
              <!-- ngIf: showlabel === 'true' -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Qty to be Supplied(Strip)</label>
          </span>
          </div>
          <div class="col-md-6">
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Free Qty(Strip)</label>
          </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 space">
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Disc%</label>
          </span>
          </div>
          <div class="col-md-6 space">
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Sale Rate</label>
          </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 space">
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Scheme Amount</label>
          </span>
          </div>
          <div class="col-md-6 space">
            <span class="ui-float-label">
              <label for="float-input">Tax On</label>
          </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 space">
            <label for="float-input">Total Amount:</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 pull-right">
           
          </div>
        </div>
      </div>
      <div class="modal-footer">
          <p-button icon="fa fa-check" label="Scheme"></p-button>&nbsp;
          <p-button icon="fa fa-clear" label="Clear"></p-button>&nbsp;
          <p-button icon="fa fa-save" data-dismiss="modal" label="Save"></p-button>
      </div>
    </div>

  </div>
</div>